{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended"
  ],
  "rules": {
    "no-console": ["error", { "allow": ["warn"] }],
    "no-process-env": "off"
  }
}